# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
.idea/
/tmp
/logs
*.log
/metastore_db

# Serverless directories
.serverless
__pycache__/